.lead__subtitle {
  max-width: 674px;
  margin: 0 0 64px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
}


@media screen and (max-width: 1152px) {
  .lead__subtitle {
    max-width: 640px;
    margin: 0 0 56px;
  }
}

@media screen and (max-width: 674px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin: 0 0 40px;
  }
}