.cover {
  max-width: calc(100% - 96px);
  min-height: 740px;
  display: flex;
  position: relative;
}

.cover:hover .cover__overlay {
  transition: opacity ease-in-out .5s;
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 1152px) {
  .cover {
    max-width: 100%;
    min-height: 674px;
  }
}

@media screen and (max-width: 864px) {
  .cover {
    min-height: 480px;
  }
}

@media screen and (max-width: 674px) {
  .cover {
    min-height: 200px;
  } 
}
