.cover {
  max-width: calc(100% - 96px);
  margin: auto;
}

.cover:hover .cover__overlay {
  transition: opacity ease-in-out .5s;
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 1152px) {
  .cover {
    max-width: 100%;
  }
}