.place {
  width: 100%;
  display: grid;
  grid-template: 1fr minmax(460px, max-content) / 460px 1fr;
  gap: 48px 40px;
}

@media screen and (max-width: 1152px) {
  .place {
    grid-template: 1fr minmax(440px, max-content) / 440px 1fr;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 864px) {
  .place {
    grid-template: 1fr minmax(340px, max-content) / 340px 1fr;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 674px) {
  .place {
    grid-template: repeat(4, minmax(min-content, max-content)) / 100%;
    gap: 32px 0;
  }
}